- name: test cmd from win module
  hosts: all
  tasks:
    - name: Install 7-Zip via win_package
      win_package:
        path: http://192.168.136.100:8080/apps/7z1900-x64.exe
        arguments: /S
        product_id: 7-Zip
        state: present
      
